// @use rules devem vir primeiro (exigência do SCSS)
@use 'styles/tokens';
@use 'styles/buttons';
@use 'primeicons/primeicons.css';

// Tailwind directives
@tailwind base;
@tailwind components;
@tailwind utilities;

// Reset global
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: var(--color-bg-base);
  color: var(--color-text-primary);
  font-family: var(--font-family-base);
  font-size: var(--font-size-base);
  line-height: var(--line-height-normal);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
